* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  background-color: #4ed8c7;
  padding: 2rem;
}

p {
  text-align: center;
}

a {
  text-decoration: none;
}
